* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@font-face {
    font-family: 'CallieHand';
    src: url('../fonts/callie-hand.woff2') format('woff2')
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('../fonts/Avenir-Roman.ttf') format('truetype')
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.ttf') format('truetype')
}

body {
    font-family: 'Avenir-Roman';
}

img {
    width: 100%;
}

.pin-flower {
    width: 120px;
    margin-top: -94px;
    margin-left: -1rem;
}

.title {
    font-family: CallieHand;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.app {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#db2763, #f5d0c5);
}

#container {
    background-image: linear-gradient(#db2763, #f5d0c5);
    padding: 7.5vh 5% 7.5vh 5%;
}

#map, .loader-map {
    position: absolute;
    width: 90%;
    height: 80vh;
    margin: 12.5vh 5% 7.5vh 5%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    border: 4px solid #fff;
    border-radius: 0.5%;
}

.hidden {
    display: none !important;
}

.content {
    bottom: 0px;
    right:0px;
    position: absolute;
    margin-bottom: 80px;
    margin-right: 20px;
}

.nav-bar {
    /* padding-top: 10px !important; */

    display: grid !important;

    grid-template-rows: 1fr !important;
    grid-template-columns: 75px 1fr 75px !important;

    background-color: transparent !important;
    border-bottom: 0px !important;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.icons {
    padding: 23.5px;
}

.icons img {
    height: 25px;
    object-fit: contain;
}

#back-arrow {
    position: absolute;
    min-height: 25px;
    max-height: 25px;
    width: auto;
    padding: 15px;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}

.input-section.fav {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 40px;
    max-height: 40px;
    width: auto;
    padding: 5px;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.5));
}

.camera-button, #btn-register-tree {
    position: absolute;
    margin: 5px auto;
    /* border: 3px solid grey; */
    bottom: calc(7.5vh - 32.5px);
    right:0px;
    left:0px;

    display: flex;
    justify-content: center;

    /* box-sizing: border-box;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    border-radius: 50%; */
}

.camera-button img {
    width: 90%;
}

#btn-register-tree img {
    height: 60%;
}

#btn-register-tree {
    bottom: -33px;
}

.hr-wrapper {
    text-align: center;
    margin: 1rem 0px;
}

.hr {
    width: 85%;
    height: auto;
}

.input-section, .status-flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-section-rating {
    height: 60px;
    justify-content: center;
}

.rating {
    display: flex;
    justify-content: center;

    margin-top: -10px;
    margin-bottom: 0.3rem;
}

.section-title
{
    color: #DB2763;
    font-size: 1.3rem;
    margin: 1rem;
}

#title-bloom {
    margin-top: 0px;
}

.favorite {
    /* position: absolute;
    right: 0 */
    display: flex;
    justify-content: center;
}

.status-selected {
    background-color: rgba(219,39,99,0.5);
    color: white
}

.status-flex-box div {
    border: 2px solid #DB2763;
    border-radius: 30px;
    padding: 5px 0px;
    margin-bottom: 1rem;
    width: 150px;
    text-align: center;
}

.status-flex-box {

}

.tree-address-container{
    display: grid;
    grid-template-columns: 15px 1fr;
    padding-top: 1rem;
    /* margin-top: 1rem; */
    margin: 0px 10%;
}

#ic_tree_address {
    height: 1.2rem;
    width: auto;
    max-width: 30px;
    text-align: center;
}

#tree-address {
    padding-left: 0.5rem;
    color: #db2763;
    font-size: .9rem;
    /* margin-bottom: 1rem; */
}

.top-border {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.bottom-border {
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
}

.icon-round-pink {
    border: 3px solid #f7b2bd;
    box-sizing: border-box;
    border-radius: 50px;
}

/*  */
