/* PARALLAX START ////////////////////////////////////////// */
div {
    box-sizing: border-box;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#group1 {
    position: relative;
    transform-style: preserve-3d;
}

.background {

    /* CHANGE THE SCALE TO FIT... */
    transform: translateZ(-1px) scale(3);
    width: 100%;
    position: absolute;

    /* CHANGE THIS TO MOVE THE IMG */
    top: calc(-22vh);

    /* left: calc(-50vw); */
    background: #FFF;
}

.foreground {
    position: absolute;
    top: 60vh;
    width: 100%;
}

.background img {
    max-height:60vh;
    width: 100%;
    object-fit: cover;
}
/* PARALLAX END ////////////////////////////////////////// */