/* PARALLAX START ////////////////////////////////////////// */
div {
    box-sizing: border-box;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#group1 {
    /* position: relative; */
    transform-style: preserve-3d;
}

.background {

    /* CHANGE THE SCALE TO FIT... */
    transform: translateZ(-2px) scale(3);
    /* position: absolute; */

    /* CHANGE THIS TO MOVE THE IMG */
    /* top: calc(-22vh); */
    margin-top: -70%;

    /* left: calc(-50vw); */
    background: #FFF;
}

.foreground {
    /* position: absolute; */
    top: 60vh;
    margin-top: 35%;
    width: 100%;
    box-shadow: 0px -10px rgba(255,255,255,0.5),
                0px -20px rgba(255,255,255,0.25) !important;
}

.background img {
    max-height:60vh;
    width: 100%;
    /* object-fit: cover; */
}
/* PARALLAX END ////////////////////////////////////////// */
